<button (click)="operadorOf()">Operador of</button>
<br/>
<br/>
<button (click)="operadorFromEvent()">Operador fromEvent</button>
<div id="divFromEvent">Div from Event</div>
<br/>
<br/>
<button (click)="operadorConcat()">Operador concat</button>
<br/>
<br/>   
<button (click)="operadorMap()">Operador map</button>
<br/>
<br/>   
<button (click)="operadorFirst()">Operador first</button>
<br/>
<br/>  
<button (click)="operadorThrottleTime()">Operador throttleTime</button>
<br/>
<br/>  
<button (click)="operadorTakeUntil()">Operador throttleTime</button>
<div id="divTakeUntil">Clique aqui para parar o teste do operador take until</div>
<br/>
<br/>  
<button (click)="operadorTap()">Operador Tap</button>
<br/>
<br/>  
<button (click)="operadorDelay()">Operador Delay</button>
<br/>
<br/>  
<button (click)="operadorCatchError()">Operador CatchError</button>
<br/>
<br/>  




